body {
  width: 100%;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

h1 {
  color: red;
}

h2 {
  color: red;
}

/* Navbar */
nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: red;
  padding: 1.5625em;
}

nav ul li a:hover {
  color: cyan;
  transition: 0.5s;
}

.navbar {
  position: fixed;
  line-height: 0.3125em;
  width: 100%;
  left: 0;
  top: 0;
  height: 1.875em;
  background: black;
  text-transform: uppercase;
}

.navbar2 {
  height: 1.875em;
  background: black;
}

.a-color {
  color: red;
  font-size: 1.25em;
  text-decoration: none;
}

.a-color:hover {
  color: cyan;
  transition: 0.5s;
}

/* logo */
.logo {
  padding-top: 1.5em;
}

/* Images */
.resize2 {
  width: 100%;
  height: auto;
  background-color: black;
  border-radius: 50%;
  transition: 0.5s ease;
}

.resize3 {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.resize4 {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.resize {
  width: 100%;
  height: auto;
  background-color: black;
  border-radius: 50%;
  transition: 0.5s ease;
}

.resize:hover {
  background-color: lightblue;
  transition: 0.5s;
}

/* Footer socials*/

.footer-col .social-links a {
  display: inline-block;
  height: 3.75em;
  width: 3.75em;
  color: #4169E1;
  background-color: black;
  line-height: 3.75em;
  border-radius: 50%;
  transition: all 0.25s ease;
  padding: 1.5625em 1.5625em;
}

.footer-col .social-links a:hover {
  color: gray;
  background-color: lightblue;
}

/* The horizontal black lines */

hr {
  width: 0.1em;
  padding: 0.9375em;
  background-color: transparent;
}

.horizontal-line {
  width: 0.1em;
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
}

/* The box for the ul and ol elements */

.box {
  width: 31.25em;
  padding: 0.625em;
  border: 0.3125em solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* sign up form */

.sg-form {
  width: 31.25em;
  border: 0.3125em solid black;
  padding: 1.25em;
  margin: 8% auto 0;
  text-align: center;
  box-sizing: border-box;
}

.input-box {
  border-radius: 1.25em;
  padding: 0.625em;
  margin: 0.625em 0;
  width: 50%;
  border: 0.0625em solid #999;
  outline: none;
}

.button-su {
  width: 55%;
  padding: 0.625em;
  border-radius: 1.25em;
  font-size: 0.9375em;
  margin: 0.625em 0;
  border: 0.0625em solid #999;
  outline: none;
  cursor: pointer;
}

@media all and (max-width: 600px) {

  .logo {
    width: 100vw;
  }

  nav ul li a {
    text-decoration: none;
    color: red;
    padding: 0.5em;
  }

  .navbar {
    width: 100%;
    box-sizing: border-box;
  }

  .box {
    width: 100vw;
    padding: 0.625em;
    border: 0.3125em solid black;
    display: block;
    box-sizing: border-box;
  }
  
  .sg-form {
    width: 100vw;
    padding: 0.625em;
    border: 0.3125em solid black;
    display: block;
    box-sizing: border-box;
  }

  hr {
    padding: 0.9375em;
    left: 0;
    background-color: transparent;
  }

  br {
    width: 100%;
  }
}